{% extends 'base.html.twig' %}

{% import '_macros.html.twig' as m %}

{% block title %}{{ title|trans }} &mdash; Trepiedi{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h1 class="h4 mb-3">{{ title|trans }}</h1>
            <div class="card shadow-sm"><div class="card-body">
                {% if avatar_preview is defined and avatar_preview %}
                    <p class="mb-3">{{ 'account.current_photo'|trans }}: {{ m.avatar(avatar_preview, 'lg') }}</p>
                {% endif %}
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="mt-3">
                        <button class="btn btn-success">{{ 'common.save'|trans }}</button>
                        <a class="btn btn-link" href="{{ back_path }}">{{ 'common.cancel'|trans }}</a>
                    </div>
                {{ form_end(form) }}
            </div></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if include_country_autocomplete|default(false) %}
        <script src="{{ asset('js/country-autocomplete.js') }}?v={{ asset_version('js/country-autocomplete.js') }}" defer></script>
    {% endif %}
{% endblock %}
